@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: aliceblue;
}
body{
  background-color: black;
}

#tasklist{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}


